{% extends "base.html" %}

{% block content %}

<div class="card shadow p-4">

    <h3 class="mb-3">Restock Product</h3>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Product</label>
            <select name="product_id" class="form-control" required>
                {% for product in products %}
                    <option value="{{ product.id }}">
                        {{ product.name }} (Current: {{ product.stock }})
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Quantity to Add</label>
            <input type="number" name="quantity" class="form-control" min="1" required>
        </div>

        <button class="btn btn-warning">
            Restock
        </button>

        <a href="{% url 'products' %}" class="btn btn-secondary">
            Cancel
        </a>

    </form>

</div>

{% endblock %}